# VERSIONS

# Monitoring cluster
VERSION_GRAFANA=10.0.3
VERSION_NGINX=1.21.5
VERSION_ALERTMANAGER=v0.23.0
VERSION_LOKI=2.8.3
VERSION_MIMIR=2.9.0
VERSION_TEMPO=2.2.0-amd64

# Monitoring agents
VERSION_VMAGENT=v1.93.0
VERSION_OTELCOLLECTOR=0.61.0
VERSION_PROMTAIL=2.8.4-amd64

# Local S3
VERSION_MINIO=latest

# Temporal cluster
VERSION_CASSANDRA=3.11.9
VERSION_ELASTICSEARCH=7.16.2
VERSION_MYSQL=8
VERSION_POSTGRESQL=13
VERSION_TEMPORAL=1.20.0
VERSION_TEMPORAL_UI=2.10.3

# ENVIRONMENT

# Common config
S3_ENDPOINT=minio:9000
S3_INSECURE=true
S3_ACCESS_KEY_ID=superuser
S3_SECRET_ACCESS_KEY=supersecret

# Loki config
LOKI_AUTH_ENABLED=true
LOKI_HTTP_BIND=0.0.0.0
LOKI_GRPC_BIND=0.0.0.0
LOKI_HTTP_PORT=3100
LOKI_GRPC_PORT=9095
LOKI_LOG_LEVEL=info
LOKI_LOG_FORMAT=json

LOKI_S3_PATH_PREFIX=loki  # left / providing in config
LOKI_S3_REPLICATION_FACTOR=3

LOKI_MEMBERS_DEAD_NODE_RECLAIM_TIME=30s
LOKI_MEMBERS_GOSSIP_TO_DEAD_NODES_TIME=15s
LOKI_MEMBERS_LEFT_INGESTERS_TIMEOUT=30s
LOKI_MEMBERS_GOSSIP_INTERVAL=2s

LOKI_INGESTER_JOIN_AFTER=10s
LOKI_INGESTER_OBSERVE_PERIOD=5s
LOKI_INGESTER_RING_REPLICATION_FACTOR=3
LOKI_INGESTER_FINAL_SLEEP=0s
LOKI_INGESTER_CHUNK_IDLE_PERIOD=1m
LOKI_INGESTER_MAX_CHUNK_AGE=1m
LOKI_INGESTER_CHUNK_RETAIN_PERIOD=30s
LOKI_INGESTER_CHUNK_ENCODING=snappy
LOKI_INGESTER_CHUNK_TARGET_SIZE=1.572864e+06
LOKI_INGESTER_CHUNK_BLOCK_SIZE=262144
LOKI_INGESTER_FLUSH_OP_TIMEOUT=10s

LOKI_RULER_REMOTE_WRITE=http://load-balancer:9009/api/v1/push
LOKI_RULER_QUEUE_CONFIG_CAPACITY=1
LOKI_RULER_QUEUE_CONFIG_BATCH_SEND_DEADLINE=0s