# VERSIONS

# Monitoring cluster
VERSION_GRAFANA=10.0.3
VERSION_NGINX=1.21.5
VERSION_ALERTMANAGER=v0.23.0
VERSION_LOKI=2.8.3
VERSION_MIMIR=2.9.0
VERSION_TEMPO=2.2.0-amd64

# Monitoring agents
VERSION_VMAGENT=v1.93.0
VERSION_OTELCOLLECTOR=0.61.0
VERSION_PROMTAIL=2.8.4-amd64

# Local S3
VERSION_MINIO=latest

# Temporal cluster
VERSION_CASSANDRA=3.11.9
VERSION_ELASTICSEARCH=7.16.2
VERSION_MYSQL=8
VERSION_POSTGRESQL=13
VERSION_TEMPORAL=1.20.0
VERSION_TEMPORAL_UI=2.10.3

# ENVIRONMENT

# Global config

DOCKER_LABEL_META_TENANT_KEY=com.host.plane
DOCKER_LABEL_META_TENANT_VALUE=cp

# Network config

NETWORK_NAME=apm_test_network

# Loadbalancer config

LB_HOSTNAME=load-balancer
LB_EX_METRICS_PORT=9009
LB_EX_LOGS_PORT=3100

# Grafana config
GRAFANA_PORT=3000

# Alertmanager config
ALERTMANAGER_LOG_LEVEL=debug
ALERTMANAGER_PORT=9093

# METAMONITORING config
MM_TENANT=otlp-test-cp

# vmagent config
MM_VMAGENT_EXPOSE_PORT=8429
MM_VMAGEMT_HOSTNAME=vmagent-cp

# meta promtail config
MM_PROMTAIL_HOSTNAME=promtail-cp
MM_PROMTAIL_HTTP_LISTEN_PORT=9080
MM_PROMTAIL_GRPC_LISTEN_PORT=0
MM_PROMTAIL_LOG_LEVEL=DEBUG
MM_PROMTAIL_REMOTE_WRITE_LOGS=http://load-balancer:3100/loki/api/v1/push


# Minio config


# Common config
S3_ENDPOINT=minio:9000
S3_INSECURE=true
S3_ACCESS_KEY_ID=superuser
S3_SECRET_ACCESS_KEY=supersecret
METRICS_REMOTE_WRITE_PATH=http://load-balancer:9009/api/v1/push

# Memcached config
MEMCACHED_HOST=memcached
MEMCACHED_PORT=11211


# Loki config

LOKI_WRITE_BASE_HOSTNAME=loki-write
LOKI_READ_BASE_HOSTNAME=loki-read
LOKI_COMPACTOR_ADDRESS=http://loki-write:3100

LOKI_AUTH_ENABLED=true
LOKI_HTTP_BIND=0.0.0.0
LOKI_GRPC_BIND=0.0.0.0
LOKI_MEMBERS_BIND=0.0.0.0
LOKI_HTTP_PORT=3100
LOKI_GRPC_PORT=9095
LOKI_MEMBERS_PORT=7946
LOKI_LOG_LEVEL=debug
LOKI_LOG_FORMAT=json

LOKI_S3_BUCKET_NAME=loki-data
LOKI_S3_PATH_PREFIX=loki  # left / providing in config
LOKI_S3_REPLICATION_FACTOR=3


LOKI_MEMBERS_DEAD_NODE_RECLAIM_TIME=30s
LOKI_MEMBERS_GOSSIP_TO_DEAD_NODES_TIME=15s
LOKI_MEMBERS_LEFT_INGESTERS_TIMEOUT=30s
LOKI_MEMBERS_GOSSIP_INTERVAL=2s

LOKI_INGESTER_JOIN_AFTER=10s
LOKI_INGESTER_OBSERVE_PERIOD=5s
LOKI_INGESTER_RING_REPLICATION_FACTOR=3
LOKI_INGESTER_FINAL_SLEEP=0s
LOKI_INGESTER_CHUNK_IDLE_PERIOD=1m
LOKI_INGESTER_MAX_CHUNK_AGE=1m
LOKI_INGESTER_CHUNK_RETAIN_PERIOD=30s
LOKI_INGESTER_CHUNK_ENCODING=snappy
LOKI_INGESTER_CHUNK_TARGET_SIZE=1.572864e+06
LOKI_INGESTER_CHUNK_BLOCK_SIZE=262144
LOKI_INGESTER_FLUSH_OP_TIMEOUT=10s

LOKI_RULER_QUEUE_CONFIG_CAPACITY=1
LOKI_RULER_QUEUE_CONFIG_BATCH_SEND_DEADLINE=0s

LOKI_LIMITS_CONFIG_MAX_CACHE_FRESHNESS_PER_QUERY=10m
LOKI_LIMITS_CONFIG_ENFORCE_METRIC_NAME=false
LOKI_LIMITS_CONFIG_REJECT_OLD_SAMPLES=true
LOKI_LIMITS_CONFIG_REJECT_OLD_SAMPLES_MAX_AGE=30m
LOKI_LIMITS_CONFIG_INGESTION_RATE_MB=10
LOKI_LIMITS_CONFIG_INJESTION_BURST_SIZE_MB=20
LOKI_LIMITS_CONFIG_SPLIT_QUERIES_BY_INTERVAL=15m

LOKI_CHUNK_STORE_CONFIG=336h

LOKI_TABLE_MANAGER_RETENTION_DELETES_ENABLED=false
LOKI_TABLE_MANAGER_RETENTION_PERIOD=0

LOKI_QUERY_RANGE_ALIGN_QUERIES_WITH_STEP=true
LOKI_QUERY_RANGE_MAX_RETRIES=5
LOKI_QUERY_RANGE_PARALLELISE_SHARDABLE_QUERIES=true
LOKI_QUERY_RANGE_CACHE_RESULTS=true

LOKI_FRONTEND_LOG_QUERIES_LONGER_THAN=15s
LOKI_FRONTEND_COMPRESS_RESPONSES=true
LOKI_FRONTEND_MAX_OUTSTANDING_PER_TENANT=2048

LOKI_QUERY_SCHEDULER_MAX_OUTSTANDING_PER_TENANT=1024

LOKI_QUERIER_QUERY_INGESTERS_WITHIN=2h


# Mimir config

MIMIR_MULTITENANCY_ENABLED=true

MIMIR_SERVER_LOG_LEVEL=debug
MIMIR_SERVER_LOG_FORMAT=json

MIMIR_RUNTIME_CONFIG=/etc/runtime.yaml

MIMIR_BLOCKS_STORAGE_PREFIX=blocks
MIMIR_BLOCKS_STORAGE_BUCKET_NAME=mimir-blocks
MIMIR_BLOCKS_STORAGE_TSDB_DIR=/data/ingester
MIMIR_BLOCKS_STORAGE_SHIP_INTERVAL=60s
MIMIR_BLOCKS_STORAGE_RETENTION_PERIOD=1h
MIMIR_BLOCKS_STORAGE_SYNC_INTERVAL=5m

MIMIR_MEMBERS_WRITE_HOST_1=mimir-write-1
MIMIR_MEMBERS_WRITE_HOST_2=mimir-write-2
MIMIR_MEMBERS_WRITE_HOST_3=mimir-write-3

MIMIR_RULER_RULE_PATH=/data/ruler
MIMIR_RULER_ALERTMANAGER_URL=http://127.0.0.1:8080/alertmanager # ?
MIMIR_RULER_RING_HEARTBEAT_PERIOD=2s
MIMIR_RULER_RING_HEARTBEAT_TIMEOUT=10s

MIMIR_RULER_STORAGE_BUCKET_NAME=mimir-ruler

MIMIR_ALERTMANAGER_DATA_DIR=/data/alertmanager
MIMIR_ALERTMANAGER_FALLBACK_CONFIG_FILE=/etc/alertmanager-fallback-config.yaml
MIMIR_ALERTMANAGER_EXTERNAL_URL=http://localhost:9009/alertmanager
MIMIR_ALERTMANAGER_STORAGE_BUCKET_NAME=mimir-alertmanager

MIMIR_OVERRIDES_EXPORTER_RING_ENABLED=true
MIMIR_OVERRIDES_EXPORTER_RING_WAIT_STABILITY_MIN_DURATION=30s

MIMIR_LIMITS_NATIVE_HISTOGRAMS_INGESTION_ENABLED=true

# Tempo config

TEMPO_MULTITENANCY_ENABLED=true

TEMPO_DISTRIBUTOR_1=tempo-distributor-1
TEMPO_INGESTER_1=tempo-ingester-1
TEMPO_INGESTER_2=tempo-ingester-2
TEMPO_INGESTER_3=tempo-ingester-3
TEMPO_QUERY_FRONTEND_1=tempo-query-frontend-1
TEMPO_QUERIER_1=tempo-querier-1
TEMPO_COMPACTOR_1=tempo-compactor-1
TEMPO_METRICS_GENERATOR_1=tempo-metrics-generator-1

TEMPO_SERVER_HTTP_LISTEN_PORT=3200
TEMPO_SERVER_HTTP_LISTEN_BIND=0.0.0.0
TEMPO_SERVER_GRPC_LISTEN_PORT=9095
TEMPO_SERVER_GRPC_LISTEN_BIND=0.0.0.0
TEMPO_SERVER_LOG_LEVEL=debug
TEMPO_SERVER_LOG_FORMAT=json

TEMPO_DISTRIBUTOR_LOG_RECEIVED_SPANS_ENABLED=false
TEMPO_DISTRIBUTOR_LOG_RECEIVED_SPANS_INCLUDE_ALL_ATTRIBUTES=false
TEMPO_DISTRIBUTOR_LOG_RECEIVED_SPANS_FILTER_BY_STATUS_ERROR=false

TEMPO_MEMBERLIST_ABORT_IF_CLUSTER_JOIN_FAILS=false
TEMPO_MEMBERLIST_BIND_PORT=7946


TEMPO_INGESTER_MAX_BLOCK_DURATION=30m

TEMPO_COMPACTOR_BLOCK_RETENTION=3360h # 140 days

TEMPO_QUERIER_FRONTEND_HOST=tempo-query-frontend-1

TEMPO_METRICS_GENERATOR_PROCESSOR_SG_WAIT=60s
TEMPO_METRICS_GENERATOR_PROCESSOR_SG_WORKERS=20

TEMPO_METRICS_GENERATOR_REGISTRY_CLUSTER_LABEL=test-service-graphs

TEMPO_METRICS_GENERATOR_STORAGE_REMOTE_TENANT=otlp-test-cp

TEMPO_STORAGE_S3_BUCKET=tempo
